<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>
<body>
    <h1>All Books</h1>
    <ul>
        {% if books %}
            {% for book in books %}
                <li>
                     <a href="{% url 'book_detail' book.id %}">{{ book.name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>No books available.</li>
        {% endif %}
    </ul>

    <!-- Посилання на головну сторінку -->
    <a href="/">← Back to Home</a>
</body>
</html>
